body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: rgb(166, 0, 107);
  background: linear-gradient(90deg, rgba(166, 0, 107, 1) 0%, rgba(0, 95, 255, 0.9026961126247374) 80%);
}

button {
  cursor: pointer;
}